* {
	outline: none !important;
}
.timepicker a {
	color: #660b10;
}
.med-header {
	height: 56px;
	line-height: 56px;
	position: fixed;
	left: 0;
	right: 0;
	background: #660b10;
	color: #ffffff;
	font-size: 16px;
	z-index: 10;
}
.med-header:before {
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	content: "";
	height: 56px;
	left: -2%;
	position: fixed;
	width: 104%;
	will-change: top,left;
}
.med-logo {
	float: left;
	margin: 0 30px;
}
.med-logo img {
	height: 30px;
}
.med-user {
	float: right;
	margin-right: 140px;
}
.med-log  {
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 30px;
    top: 8px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}
.med-log  > span {
	font-size: 25px;
	margin-right: 8px;
	top: 6px;
}
.med-header .dropdown {
	position: absolute;
	line-height: 35px;
    right: 270px;
    top: 12px;
}
.dropdown {
	color: #616161;
}
.med-container {
	position: absolute;
	top: 56px;
	left: 0;
	right: 0;
	bottom: 0;
}
.med-menu {
	box-shadow: -2px 0 8px #333333 inset;
	position: absolute;
	left: 0;
	top: -2px ;
	bottom: 0;
	width: 300px;
	background: #ab0027;
	padding-top: 4px;
	position: fixed;
    top: 56px;
}
.med-menu ul {
	list-style: none;
	margin: 50px 0 50px 30px;
	padding: 0;
}
.med-menu ul li {
	margin-bottom: 30px;
}
.med-menu ul li span {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    padding-left: 60px;
	position: relative;
	display: block;
	height: 50px;
	cursor: pointer;
	text-shadow: 1px 1px #333;
}
.med-menu ul li span.cur, .med-menu ul li span:hover {
	color: #660b10;

}
.med-menu ul li span:after {
	content: "";
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.med-menu ul li span.cur:before {
    border-bottom: 18px solid transparent;
    border-right: 18px solid #ffffff;
    border-top: 18px solid transparent;
    content: "";
    display: block;
    height: 0;
    margin-top: -15px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
}
.med-menu ul li.pills span:after {
	background-image: url(/images/pills_icon.png);
}
.med-menu ul li.schedule span:after {
	background-image: url(/images/schedule_icon.png);
}
.med-menu ul li.shopping-card span:after {
	background-image: url(/images/shopping_card_icon.png);
}
.med-menu ul li.sos span:after {
	background-image: url(/images/sos_icon.png);
}

.med-menu ul li.pills span:hover:after, .med-menu ul li.pills span.cur:after {
	background-image: url(/images/pills_icon_cur.png);
}
.med-menu ul li.schedule span:hover:after, .med-menu ul li.schedule span.cur:after {
	background-image: url(/images/schedule_icon_cur.png);
}
.med-menu ul li.shopping-card span:hover:after, .med-menu ul li.shopping-card span.cur:after {
	background-image: url(/images/shopping_card_icon_cur.png);
}
.med-menu ul li.sos span:hover:after, .med-menu ul li.sos span.cur:after {
	background-image: url(/images/sos_icon_cur.png);
}
.med-content {
	position: absolute;
	left: 348px;
	right: 48px;
	bottom: 48px;
	top: 0;
	color: #616161;
}
h1.cur-title {
    border-bottom: 1px solid #660b10;
    font-size: 24px;
	font-weight: 600;
    line-height: 50px;
    margin-top: 50px;
	margin-bottom: 20px;
    padding: 0 30px;
	color: #660b10;
}
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
	top: 40% !important;
	border-top: 4px solid #660b10;
}
.selectboxit-btn {
	background: #ffffff !important;
}
.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
	background: #660b10 !important;
}
.med-pill-boxes {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
	background: #fafafa;
	overflow: hidden;
}
.med-pill-boxes h3 {
	margin: 0;
	font-size: 20px;
	line-height: 30px;	
	font-weight: 500;
	float: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    margin: 0;
    width: 100px;
}
.pill-box {
	padding: 20px 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	overflow: hidden;
}
.pill-box .input-group {
	float: left;
	margin-right: 10px;
}
.pill-box .input-group:nth-of-type(2) {
    width: 110px;
}
#schedule-boxes .med-pill-boxes .input-group {
	width: 200px;
	margin: 10px;
}
#schedule-boxes > h3 {
	float: none;
	display: block;
	width: auto;
	padding: 0 30px 10px;
	color: #660b10;
	font-size: 20px
}
#schedule-boxes .pill-box {
    padding: 10px 30px;
    overflow: visible;
	float: left;
	width: 100%;
	box-sizing: border-box;
}
#schedule-boxes .med-pill-boxes h3 {
	margin: 10px 0;
}
.time-group {
	overflow: hidden;
	margin-left: 100px;
}
.med-pill-boxes .time-group:nth-of-type(1), .med-pill-boxes .time-group:nth-of-type(2) {
    margin: 0;
}
#schedule-boxes .dropdown {
	margin-left: 110px;
    margin-top: 12px;
}
#schedule-boxes .dropdown select {
	display: none;
}
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover, .btn-primary {
	background: #660b10 !important;
}
.btn-primary {
	border-color: #660b10 !important;
}
#schedule-boxes .btn-group {
	margin: 10px;
}
.btn-current {
    background: none repeat scroll 0 0 #660b10 !important;
    border-color: #660b10 !important;
    color: #fff !important;
}
.btn-large {
	width: 200px;
	float: right;
}
.pill-item {
	margin-bottom: 40px;
}
.input-group label, .input-group b {
	line-height: 35px;
	font-size: 16px;
}
.input-group label {
	margin-right: 10px;
}
.input-group b {
	color: #660b10;
}
#shopping-card-boxes .input-group {
	width: auto;
	margin-right: 15px;
}
.med-login-page {
	position: absolute;
	background: #a70027;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.login-logo img {
	display: block;
	margin: 20px auto;
	width: 150px;
}
.login-box {
	border-right: 5px;
	padding: 10px 20px;
	width: 400px;
	margin: 50px auto;
	border: 1px solid rgba(0, 0, 0, 0.12);
	text-align: center;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}
.login-box .input-group {
	width: 100%;
	margin: 25px 0;
}
.login-box h3 {
	margin: 10px;
	color: #ffffff;
}
.login-box .input-group input {
	height: 45px;
	font-size: 18px;
	color: #660b10;
}
.login-box .input-group button {
	background: #660b10 !important;
	border-color: #660b10 !important;
	color: #ffffff;
	width: 60%;
	height: 45px;
	font-size: 16px;
}